<p>In shopping cart:</p>
<% @cart.each do |order| %>
<p><%= order[:quantity] %> x <%= order[:product].name %> </p>
<p>€ <%= order[:product].price %></p>
<% end %>
<p>Total price</p>
<p> € <%= @totalprice %> </p>
<%= link_to 'Empty cart', shopping_cart_items_destroy_path, method: :delete %>
<%= link_to 'Add 1', shopping_cart_items_update_path, method: :update %>
