<h2>In shopping cart:</h2>
<% @cart.each do |order| %>
<p><%= order[:quantity] %> x <%= order[:product].name %> </p>
<p>€ <%= order[:product].price %></p>
<% end %>
<h3>Total price</strong></h3>
<h3> € <%= @totalprice %> </h3>

<%=link_to "Back", products_path, class: "btn btn-default"%>
<%= link_to 'Empty cart', shopping_cart_items_destroy_path,class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %>
