


<div class="row">

    <div class="thumbnail">
      <%= image_tag (@product.image), size: "500x500"%>
      <div class="caption">
        <h3><%=@product.name%></h3>
        <p><%=@product.description%></p>
        <h3>€ <%=@product.price%></h3>
        <p><%=link_to "Back", products_path, class: "btn btn-default"%> <%= link_to 'Add to cart', shopping_cart_items_path(@product, quantity: 1), method: :post, class: "btn btn-default" %></p>
      </div>
    </div>

</div>


<% if user_signed_in? %>
  <%= render "comment" %>
  <br>
  <% end %>
  <%= render @reviews %>
